<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {% if page.toc %}
    <hr style="height:1px;border:none;border-top:1px dashed #044e52;"/>
      {% include toc.html html=content sanitize=true %}
    <hr style="height:1px;border:none;border-top:1px dashed #044e52;"/>
    {% endif %}
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>